.adress_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 5%;
  padding: 2%;

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    gap: 15px;
    margin: 2%;

    input {
      border-radius: 15px;
      height: 25px;
    }
  }

  .bob {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
  }

  label {
    font-size: 15px;
  }

  input {
    width: 80%;
  }

  .adress_container_form_btn {
    width: 30%;
  }

  .result {
    font-size: 25px;
    margin: 2%;
  }
}
