//-------COLORS----------
$primary-color: #38383d;
$secondary-color: #f5f5f5;
$tertiary-color: #e66d38;

//------FONTS------------
$font-display: "Righteous";
$font-text: "Roboto";

//-----GENERAL------------
.app {
  font-family: $font-text;
}

//-----BUTTONS / PIC YOUR POISON------------
//------------------------------------------
// TYPE STRIPE
.stripe {
  cursor: pointer;
  width: 10em;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  font-family: $font-text;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 40px;
  border: 2px solid $primary-color;
  color: $secondary-color;
  background-image: repeating-linear-gradient(
    90deg,
    $primary-color,
    $tertiary-color 10%,
    $primary-color 10%,
    $primary-color 20%
  );
  background-size: 90%;
  transition: 0.3s ease-in-out;

  &:hover {
    background-position: 80px;
  }
}

// TYPE SHAKE YOUR BODY
.shake {
  width: 10em;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  font-family: $font-text;
  border: none;
  border-radius: 40px;
  background: $tertiary-color;
  font-size: 15px;
  color: $secondary-color;
  font-family: inherit;

  &:hover {
    animation: shake3856 0.3s linear infinite both;
  }

  @keyframes shake3856 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }

    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }

    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }

    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }

    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }

    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
}

// TYPE SMOOTH
.smooth {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 10em;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  font-family: $font-text;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 40px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  color: $primary-color;
  text-shadow: 0 1px #fff;

  &:hover {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
      0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
  }

  &:active {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
      0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }

  &:focus {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
      0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
}
