.vehicule-card {
  position: relative;
  .btnCard {
    all: unset;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    .img-vehicule-card {
      height: 200px;
      width: 100%;
      background: $tertiary-color;
      border-radius: 16px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
  .btnCard:hover {
    scale: 1.03;
  }

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    right: 10px;
    bottom: 10px;
  }

  .active {
    background-color: chartreuse;
  }

  .vehicule-desc {
    font-size: 1.5rem;
    position: absolute;
    background: rgba(97, 96, 96, 0.2);
    border-radius: 16px;
    padding: 10px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 5px;
    top: 5px;
  }
}
